.background-header {
  height: 105px;
  background-color: #16abf8;
  color: #fff;
  display: flex;
  align-items: center;
}

.header-title {
  display: flex;
  width: 229px;
  flex-direction: column;
  flex-shrink: 0;
  color: #FFF !important;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 24px;
}

.header-title h2 {
  display: flex;
  width: 229px;
  flex-direction: column;
  flex-shrink: 0;
  color: #FFF !important;
  font-size: 27px;
  font-family: Poppins;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-add {
  display: flex;
  width: 144px;
  height: 51px;
  padding: 12px 28px 13px 13px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 45px;
  background: #16ABF8;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  border: #16ABF8;
}

.btn-add svg {
  color: #fff;
}

.activity-empty {
  height: 490px;
  flex-shrink: 0;
}

.activity-empty .box-img {
  float: left;
  width: 25%;
  height: auto;
  overflow: hidden;
  margin-left: 91px;
  margin-right: 89px;
}

.activity-empty .box-img img {
  width: 100%;
}

.box-button {
  width: 321.873px;
  height: 232.664px;
  float: left;
  border: 11px solid #e4e4e4;
  border-radius: 8%;
}

.box-button .btn {
  width: 116.555px;
  height: 116.43px;
  flex-shrink: 0;
  background-color: #16ABF8;
  border-radius: 56%;
  border: 1px solid #16ABF8;
  position: relative;
  left: 27%;
  top: 45px;
}

.activity-empty .text-activity-info {
  position: absolute;
  bottom: 0;
  right: 35%;
  top: 111%;
}

.text-activity-info {
  color: #555;
  text-align: center;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 600;
}

.box-acitivites {
  width: 235px;
  height: 234px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.10);
  float: left;
}

.box-acitivites .title {
  color: #111;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 700;
  text-align: center;
  padding: 13px;
}

.box-acitivites .bottom-text {
  color: #888;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
  position: relative;
  bottom: -14px;
  left: 40px;
}

.box-acitivites a {
  color: unset;
}

.click-action {
  width: 100%;
  height: 126px;
  cursor: pointer;
}

.box-acitivites .icon {
  position: relative;
  bottom: 9px;
  clear: both;
  right: 28px;
  cursor: pointer;
}
.icon .btn-link{
  color: #888888;
  position: relative;
  top: -7px;
}
.icon .btn-link svg{
  width: 41px;
  height: 22px;
}
.icon .btn-link:hover{
  color: #00A790;
}
span[data-testid="loader"] {
  position: absolute !important;
  top: 50% !important;
  left: 45%;
}

.svg-icon {
  width: 32px;
  height: 32px;
  float: left;
  margin-top: 5px;
  margin-right: 23px;
}

.title-detail {
  color: #111;
  font-size: 36px;
  font-family: Poppins;
  font-weight: 700;
}

.modal-dialog {
  max-width: unset;
  width: 830px;
  height: 403px;
}

.modal-title {
  color: #111;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
}

.modal-content .mb-3 label {
  color: #111;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
}

.modal-content .mb-3 input.form-control {
  border-radius: 6px;
  border: 1px solid #E5E5E5;
  background: #FFF;
  width: 759px;
  height: 52px;
  flex-shrink: 0;
}

.modal-content .mb-3 select {
  width: 205px;
  height: 52px;
  border-radius: 6px;
  border: 1px solid #E5E5E5;
}

.modal-content .mb-3 select::placeholder {
  color: #111;
  font-size: 16px;
  font-family: Poppins;
}

.modal-content .btn {
  display: flex;
  width: 150px;
  height: 54px;
  padding: 13px 14px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 45px;
  background: #16ABF8;
  border: 1px solid #16ABF8;
}

.box-detail {
  height: 80px;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.10);
}

/* .box-detail .form-check .form-check-input::after{
    width: 9px;
  height: 9px;
  border-radius: 9px;
  background: #ED4C5C;
  content: " ";
  position: absolute;
  left: 176px;
  top: 255px;
} */
.bullet {
  width: 12px;
  height: 12px;
  border-radius: 9px;
  position: relative;
  margin-top: 7px;
  top: -23px;
}

.bg-red {
  background: #ED4C5C;
}

.bg-yellow {
  background: #FFCE31;
}

.bg-green {
  background: #00A790;
}

.bg-purprle {
  background: #43C4E3;
}

.bg-ungu {
  background: #B01AFF;
}

.box-detail .form-check .form-check-input {
  margin-right: 30px;
}

.box-detail .form-check {
  max-width: 100px;
  float: left;
  margin-right: 20px;
}

.box-detail a {
  color: #888888;
}

.title-detail a svg {
  width: 22px;
}

.edit-control {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  position: absolute;
  width: auto;
  top: 127px;
  margin-left: 71px;
  color: #111;
  font-size: 36px;
  font-family: Poppins;
  font-weight: 700;
}

a {
  color: unset;
}

.p-dropdown {
  width: 205px;
  height: 52px;
  border-radius: 6px 6px 0px 0px;
  border: 1px solid #E5E5E5;
  background: #F4F4F4;
}

.p-dropdown-panel {
  z-index: 99999 !important;
}

.p-dropdown-item img {
  width: 19px !important;
  float: left;
  margin-right: 18px;
  position: relative;
  top: 5px;
}

.p-dropdown .p-dropdown-label img {
  float: left;
  margin-right: 18px;
  position: relative;
  top: 4px;
}

.p-dropdown .label-dropdown {
  color: #111;
  font-size: 16px;
  font-family: Poppins;
}

.sort-icon {
  margin-right: 30px;
}

.sort-icon img {
  width: 44px;
}

.box {
  width: 235px;
  height: auto;
  border-radius: 6px 6px 0px 0px;
  border: 1px solid #E5E5E5;
  background: #FFF;
  position: absolute;
  right: 114px;
  top: 218px;
  list-style: none;
  padding: 14px;
}

ul.box li img{
  width: 33px !important;
    height: 26px !important;
}
ul.box li{
  color: #4A4A4A;
  font-size: 16px;
  font-family: Poppins;
  padding: 9px 10px;
}
ul.box li a{
  text-decoration: none !important;
}
.status-done{
  text-decoration: line-through;
    color: #888;
}
.none{
  display: none !important;
}
.todo-add-button{
  float: right !important;
  position: absolute;
  right: 80px;
}
.todo-sort-button{
  float: right !important;
  position: absolute;
  right: 199px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .box-acitivites{
    width: 100%;
  }
  .home-page .mb-3.row .col-sm-6{
    width: 50%;
  }
  .col-sm-12.px-5.pt-5{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .header-title{
    margin-left: unset;
    text-align: center;
    width: 100%;
  }
  .title-detail{
    font-size: 25px;
  }
  .detail-page .mb-3.row .col-sm-6{
    width: unset !important;
  }
  .modal-dialog{
    width: unset;
  }
  .modal-content .mb-3 input.form-control{
    width: unset;
  }
  .edit-control{
    font-size: 25px;
    width: 304px;
  }
}
.modal-dialog.modal-sm{
  max-width: 500px;
}
.modal-dialog.modal-sm .modal-body p{
  text-align: center;
    color: #111;
    font-size: 18px;
    line-height: 27px;
}
.modal-dialog.modal-sm .modal-footer{
  display: flex;
  justify-content: center;
}
.modal-dialog.modal-sm .modal-footer .btn-danger{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.modal-dialog.modal-sm .modal-footer .btn-light{
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.modal-dialog.modal-sm .modal-header{
  display: flex;
    justify-content: center;
    align-items: center;
}
.activity-item-delete-button{
  border: none;
}